$headerSize: --practical-css-header-size;

$fontRegular: --practical-css-font-regular;
$fontMedium: --practical-css-font-medium;
$fontBold: --practical-css-font-bold;
$layoutPadding: --practical-css-layout-padding;
$layoutContentPaddingRightLeft: --practical-css-layout-content-padding-right-left;
$layoutContentPaddingTop: --practical-css-layout-content-padding-top;
$layoutContentPaddingBottom: --practical-css-layout-content-padding-bottom;
$applicationContentBackgroundColor: --practical-css-application-content-background-color;

/* Colors: */
$primaryWhite: --practical-css-primary-white;
$textBlack: --practical-css-text-black;
$errorTextColor: --practical-css-error-text-red;
$actionTextHoverColor: --practical-css-hover-text-color;
$backgroundColorBlack: --practical-css-background-color-black;
$backgroundColorGray: --practical-css-background-color-gray;
$backgroundColorWhite: --practical-css-background-color-white;
$attCobalt: --practical-css-att-cobalt;
$attBlue: --practical-css-att-blue;
$attPurple: --practical-css-att-purple;
$attLime: --practical-css-att-lime;
$attBerry: --practical-css-att-berry;
$attTangerine: --practical-css-att-tangerine;
$attMint: --practical-css-att-mint;
